hr {
  border-width: 3px 1px 0;
  border-style: solid;
  border-color: palevioletred;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* parallax info */
#html1 {
  height: 100%;
  overflow: hidden;
}

#par1 {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slide {
  position: relative;
  padding: 25% 10%;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
}

.slide,
.slide:before {
  background: 50% 50% / cover;
}

#intro {
  background-image: url("../img/bwglobe.jpg");
  z-index: 2;
}

#slide1:before {
  background-image: url("../img/fourCoins12.jpeg");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("../img/goldBar.jpeg");
  z-index: 2;
}

#slide3 {
  background-image: url("../img/basic-globe-free-photos-1165609.jpg");
  transform: translateZ(-1px) scale(2);
}

.hello {
  text-shadow: 3px 3px black;
}

.card {
  border: 1px solid black;
}

.card-header {
  background-color: rgb(138, 134, 134);
  font-size: 35px;
  color: #fff;
}

.newfill {
  margin-bottom: 10px;
}

/* carosal info */
.cColor {
  font-size: 35px;
  text-shadow: #040926 1px 1px;
}

.carousel {
  width: 650px;
  background-color: rgb(237, 240, 243);
}

.carousel-inner>.item>img {
  width: 640px;
  height: 360px;
}

/* bottom of profile page info */
.underTable {
  padding-top: 40px;
}

.cryptoWorld {
  font-size: 60px;
  font-family: 'Fira Sans', sans-serif;
}

.cryptopara {
  font-size: 30px;
  font-family: 'Fira Sans', sans-serif;
}

.fillProfile {
  background-image: url("../img/light-streak.jpg");
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 110px;
  font-size: 60px;
  color: white;
}

tr {
  background: #fff;
}

.table-active {
  background: #fff;
}

#righty {
  float: right;
}

.h3black {
  color: black;
}

.currentPort {
  border: 1px solid black;
}

#currentPort1 {
  border: 1px solid black;
  margin: 0 auto;
}

#userName1 {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 10px;
}

.bg {
  margin: 20px;
  color: black;
}

.signup {
  margin-right: 20px;
}

.list-group-item {
  line-height: 2.5;
}

.welcome {
  padding-top: 8%;
  ;
  padding-left: 40%;
}

.fill {
  font-size: 25px;
}

#updatePrices {
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: yellow;
  background-color: black;
}

#msg {
  color: white;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
}

#login {
  color: white;
  text-align: right;
}

#crytoDiv {
  text-align: left;
}

.imagestyle {
  border-radius: 10px;
  border: solid 1.5px #12254e;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-group {
  color: white;
  text-align: right;
}

h3 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
}

#cryptoIndex {
  /* color: rgb(255,242,181); */
  font-size: 80px;
  font-family: 'Bungee Shade', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #cdd0d7, 0 0 5px #cdd0d7;
}

#cryptoIndex1 {
  font-size: 80px;
  font-family: 'Bungee Shade', cursive;
  color: white;
  text-shadow: 4px 4px 4px black, 0 0 25px red, 0 0 5px red;
}

.nav-item {
  padding-left: 35px;
  padding-right: 35px;
  color: #3a92f0;
}

nav {
  margin: 20px;
}

nav.stroke .filler a,
nav.fill .filler a {
  display: inline;
  position: relative;
}

nav.stroke .filler a:after,
nav.fill .filler a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke .filler a:hover:after {
  width: 100%;
}

nav.fill .filler a {
  transition: all 2s;
}

nav.fill .filler a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill .filler a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill .filler a:hover:after {
  z-index: -10;
  animation: fill .4s forwards;
  -webkit-animation: fill .4s forwards;
  -moz-animation: fill .4s forwards;
  opacity: 1;
}

.card {
  margin-left: 15px;
  margin-right: 20px;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #9c9a9a;
  }
}

/* Members Page */
#members {
  background-image: url("../img/light-streak.jpg");
  padding: 70px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 175px;
  font-size: 60px;
  color: white;
}

.msg {
  font-size: 60px;
  color: white;
}

.members-image {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  /* margin: auto; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.members-row {
  /* background-color: #f1f7f7; */
  border-style: solid;
  border-bottom-width: 15px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #040926;
  padding-top: 10px;
}

#members-name {
  font-size: 30px;
  font-weight: bolder;
  color: #040926;
}

#members-brandstatement {
  font-size: 18px;
  color: #203880;
}

#member-links {
  color: #3a92f0;;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
}

h5 {
  text-align: center;  
}

/* News Page */
#news {
  background-image: url("../img/light-streak.jpg");
  padding: 70px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 175px;
  font-size: 60px;
  color: white;
}

a {
  color: #3a92f0;;
  padding-top: 15px;
  padding-left: 0px; 
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

img {
  padding-bottom: 20px;
  display: block;
  float: left;
  padding-right: 20px;
}

.title-news {
  font-size: 60px;
  color: white;
}

.article-contain {
  max-width: 900px;
  margin-top: -10px;
}

.anchor-desc {
  font-size: 20px;
  text-align: left;
  margin-left: 40px;
  padding-top: 75px;
  color: #007bff;
}

.anchor-title {
  color: #203880;
}
