/* body { */
  /* background-image: url("../img/basic-globe-free-photos-1165609.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background: url("../img/basic-globe-free-photos-1165609.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.newfill {
  margin-bottom: 10px;
}
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
.fillProfile {
  background-image: url("../img/light-streak.jpg");
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 110px;
  font-size: 60px;
  color: white;  
}
tr {
  background: #fff;
}
.table-active {
  background: #fff;
}
#righty {
  float: right;
}

.h3black {
  color: black;
}
.navProfile {
  /* background: 100%;
  
  padding-bottom: 10px;
  padding-top: 25px; */
}

.bg{
  margin:20px ;
  color: black;
 
}

.signup{
  margin-right: 20px;

}
.list-group-item {
  line-height: 2.5;
}
.welcome {
  padding-top: 8%;;
  padding-left: 40%;
 
}
.fill {
  font-size: 20px;
}

#updatePrices {
  font-size: 20px;
  font-family: 'Share Tech Mono', monospace;
  color: yellow;
  background-color: black;
}

#msg {
  color: white;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
}

#login {
  color: white;
  text-align: right;
  
}

#crytoDiv{
  text-align: left;
}

.imagestyle{
  border-radius:10px;
  border: solid 1.5px #12254e;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-group {
  color: white;
  text-align: right;
}
h3 {
  color:white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 55px;
}
#cryptoIndex {
  /* color: rgb(255,242,181); */
  font-size: 80px;
  font-family: 'Bungee Shade', cursive;
  /* background-image: linear-gradient(rgb(255,255,255) 45%, 
		rgb(170,170,170) 60%,
		rgb(192,192,192) 74%);
	text-align: center;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent; */
  /* font-size: 14px; */
  color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #cdd0d7, 0 0 5px #cdd0d7;

}

.nav-item {
  padding-left:35px;
  padding-right:35px;
}

nav {
  margin: 20px;
}
nav.stroke .filler a,
nav.fill .filler a {
  display: inline;
  position: relative;
}
nav.stroke .filler a:after,
nav.fill .filler a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke .filler a:hover:after {
  width: 100%;
}

nav.fill .filler a {
  transition: all 2s;
}

nav.fill .filler a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill .filler a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill .filler a:hover:after {
  z-index: -10;
  animation: fill .4s forwards;
  -webkit-animation: fill .4s forwards;
  -moz-animation: fill .4s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #9c9a9a;
  }
}

/* Members Page */
#members {
  background-image: url("../img/light-streak.jpg");
  padding: 100px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 175px;
  font-size: 60px;
  color: white;  
}

.msg {
  font-size: 60px;
  color: white;  
}

.members-image {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  /* margin: auto; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.members-row {
  /* background-color: #f1f7f7; */
  border-style: solid;
  border-bottom-width: 15px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color:#2261a4;
  padding-top: 10px;
}

#members-name {
  font-size: 30px;
  font-weight: bolder;
  color: #040926;

}

#members-brandstatement {
  font-size: 14px;
  color: #203880;
}

#links {
  text-align: center;
  color: #203880;
  font-size: 15px;
  font-weight: bold;
}

/* News Page */
#news {
  background-image: url("../img/light-streak.jpg");
  padding: 100px;
  padding-left: 180px;
  background-repeat: no-repeat;
  background-size: 2000px 175px;
  font-size: 60px;
  color: white;
}

.article-title {
  color: #203880;
  font-size: 20px;
  font-weight: bold;
}

