<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h2>Dashboard</h2>
    <h5>Welcome you are logged in!</h5>
    <br>
    <form id="logout" name="logout" method="get" action="/logout">
    <input class="btn" type="submit" value="Logout" />
    </form>
</body>
 
</html>