<style>
  body {

    background: url("../img/basic-globe-free-photos-1165609.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div id="home">
  <div class="container " >
    <nav class="nav nav-pills nav-fill fill">
      <span class="filler">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/news">News</a>
        <a class="nav-item nav-link" href="/members">Crypto Member Information</a>
        <a class="nav-item nav-link" href="/signin">Member Login</a>
      </span>
    </nav>
    <div class="row">
      <div class="col-12">
        <div class="welcome">
          
          <h3 class="text-center" id="login">Welcome to</h3>
          <h1 class="text-center" id="cryptoIndex">Crypto</h1>
          <h3 class="text-center"> the new era of global currency...</h3>
        </div>
        
        {{!-- <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>