<body id="members">

  <div class="container" id="memberscontain">

    <div class="row msg">{{msg}}</div>

    <div class="row members-row">
      <div class="col-6 members-col">
          <img class="members-image" src="../img/pexels-photo-415829.jpeg">
      </div>
      <div class="col-6">
        <h5 class="align-top" id="members-name" >Ashley Weber</h5><br>
        <p id="members-brandstatement">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1940s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p id="links"><a href="https://lysandra.github.io/" target="_blank">Portfolio</a> &nbsp; | &nbsp; <a href="https://www.linkedin.com/in/lysandraowen/" target="_blank">Linkedin</a> &nbsp; | &nbsp; <a href="https://github.com/Lysandra" target="_blank">GitHub</a></p>
      </div>
    </div>

    <div class="row members-row">
      <div class="col-6">
        <h5 class="align-top" id="members-name" >Jeff Mills</h5><br>
        <p id="members-brandstatement">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1940s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p id="links"><a href="https://lysandra.github.io/" target="_blank">Portfolio</a> &nbsp; | &nbsp; <a href="https://www.linkedin.com/in/lysandraowen/" target="_blank">Linkedin</a> &nbsp; | &nbsp; <a href="https://github.com/Lysandra" target="_blank">GitHub</a></p>
      </div>
      <div class="col-6 members-col">
          <img class="members-image" src="../img/pexels-photo-415829.jpeg">
      </div>
    </div>

    <div class="row members-row">
      <div class="col-6 members-col">
          <img class="members-image" src="../img/pexels-photo-415829.jpeg">
      </div>
      <div class="col-6">
        <h5 class="align-top" id="members-name" >Lysandra Owen</h5><br>
        <p id="members-brandstatement">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1940s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p id="links"><a href="https://lysandra.github.io/" target="_blank">Portfolio</a> &nbsp; | &nbsp; <a href="https://www.linkedin.com/in/lysandraowen/" target="_blank">Linkedin</a> &nbsp; | &nbsp; <a href="https://github.com/Lysandra" target="_blank">GitHub</a></p>
      </div>
    </div>

    <div class="row members-row">
      <div class="col-6">
        <h5 class="align-top" id="members-name" >Rie</h5><br>
        <p id="members-brandstatement">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1940s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p id="links"><a href="https://lysandra.github.io/" target="_blank">Portfolio</a> &nbsp; | &nbsp; <a href="https://www.linkedin.com/in/lysandraowen/" target="_blank">Linkedin</a> &nbsp; | &nbsp; <a href="https://github.com/Lysandra" target="_blank">GitHub</a></p>
      </div>
      <div class="col-6 members-col">
          <img class="members-image" src="../img/pexels-photo-415829.jpeg">
      </div>
    </div>

</body>