<body>

  <div id="news">
    {{!--

    <body id="news"> --}}

      <div class="container" id="newscontain">

        <nav class="nav nav-pills nav-fill fill">
          <span class="filler">
            <a class="title-news" href="#">News | </a>
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/news">News</a>
            <a class="nav-item nav-link" href="/members">Our Team</a>
            <a class="nav-item nav-link" href="/signin">Member Login</a>
          </span>
        </nav>

        <div class="row">News</div>
      </div>

      <div class="container article-contain">

        <div class="row" id="article-row"></div>

      </div>

  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./js/news.js"></script>
  </body>